<h1> Создание Сотрудника </h1>

<%= form_for @staff, url: new_staff_path do |f| %>
  <%= f.text_field :name %><br>
  <%= f.text_field :surname %><br>
  <%= f.text_field :specialization %><br>
  <%= f.text_field :category %><br>
  <%= f.submit %>
<% end %>